.box-styles {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: -200px;
  z-index: 1;
}

#button {
  position: relative;
  z-index: 2;
}

.animate {
  position: absolute;
  left: -200px;
  top: 0;
  animation: animateBox 10s linear;
  -webkit-animation: animateBox 10s linear;
}

@-webkit-keyframes animateBox {
  0% { left: -200px; }
  50% { left: 0; }
  100% { left: -200px;}
}

@keyframes animateBox {
  0% { left: -200px; }
  50% { left: 0; }
  100% { left: -200px;}
}
