.image {
  width: 500px;
  animate: fadeInOut 5s;
}

#cycle-image {
  display: none;
}

.containerDisplay {
  display: block !important;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}