body,
h1 {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://image.tmdb.org/t/p/w1400_and_h450_face/bHarw8xrmQeqf3t8HpuMY7zoK4x.jpg');
  background-size: cover;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(circle at 20% 50%, rgba(12.55%, 24.71%, 34.51%, 0.98) 0%, rgba(12.55%, 24.71%, 34.51%, 0.88) 100%); 
  opacity: 1; 
}

#information {
  width: 100%;
  max-width: 400px;
}

.informationContainer {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textContainer {
  color: #fff;
}

.imageContainer {
  margin: 0 30px;
}